.search-box {
    border-radius: 10px;
    background-color: #d7dedc;
    color: #563440;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    width: 200px;
}

.search-box::placeholder {
    color: #563440;
}