.coffee-lover-title {
    color: #d7dedc;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

@media screen and (max-width:500px) {
    .coffee-lover-title.coffee-lover-title {
        font-size: 2.5rem;
    }
}